doctype html
html(ng-app="app")
    head
        include components/jade/header
        script(src="{$ROOT}/view/js/index.js")
        link(rel="stylesheet", href="{$ROOT}/view/css/index.css")

    body(ng-controller='ctrl')
        .top
            h1.title GAZE DESK
            .s_title Your Life and ideal
        .bottom
            .button(ng-click= 'location.signin()') Login GAZE DESK
            .button Connect with Facebook
            .button Enter as Guest
            p.abstrack
                | GAZE LAB
                br
                | Power by MagicEco



